@import "tailwindcss";

@theme {
  --font-heading: var(--font-plus-jakarta-sans), var(--font-inter), sans-serif;
  --font-sans: var(--font-plus-jakarta-sans), var(--font-inter), sans-serif;

  --color-primary: #C27BA0;
  --color-secondary: #F7D6E6;
  --color-accent: #8C4A6E;
  --color-bg-custom: #FFF9FC;
}

body {
  background-color: var(--color-bg-custom);
  font-family: var(--font-sans);
}

