@import "tailwindcss";

@theme {
  --font-heading: var(--font-plus-jakarta-sans), var(--font-inter), sans-serif;
  --font-sans: var(--font-plus-jakarta-sans), var(--font-inter), sans-serif;

  --color-primary: #FF9100;
  --color-secondary: #FFE6D5;
  --color-accent: #E07A00;
  --color-bg-custom: #FFFFFF;
}

body {
  background-color: var(--color-bg-custom);
  font-family: var(--font-sans);
}

